#techdegree {
  .container {
    flex: 1;
    padding: 5rem 0;
    @media #{$brk-narrow} {
      flex-flow: row wrap;
    }
    .about-box {
      flex-direction: column;
      padding: 2rem;
      flex-basis: 50%;
    }
    .btn {
      border-color: darken($color-7, 25%);
      color: darken($color-7, 25%);
      margin: 2rem auto;
      &:hover {
        background-color: darken($color-7, 25%);
        color: $color-4;
      }
    }
    .curriculum {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;

      .list-group {
        margin: 1rem 1rem;
        border-radius: 25px;
        padding-bottom: 2rem;
        flex-basis: 100%;
        min-height: 282px;
        background-color: lighten($color-4, 5%);
        box-shadow: 0 1px 1px 0 $color-5;
        .list-group-item-heading {
          padding: 1rem 0;
          color: $color-5;
          font-family: $stack-montserrat;
          border-bottom: 2px solid darken(lighten($color-4, 5%), 4%);
        }
        .list-group-item {
          @include transition(all, .3s);
          border: none;
          text-align: left;
          background-color: transparent;
          font-family: $stack-play;
          font-size: 1.375rem;
          letter-spacing: .5px;
          &:hover {
            transform: scale(1.05);
            color: darken($color-7, 25%);

          }
        }
        @media #{$brk-tablets} {
          flex-basis: calc(50% - 2rem);
        }
        @media #{$brk-narrow} {
          flex-basis: calc(33.333% - 2rem);
        }
       @media #{$brk-wide} {
          flex-basis: calc(25% - 2rem);
        }
      }
    }
  }
}
