#projects-slideshow {
  text-align: center;
  .row {
    text-align: center;
  }
  .icon-wrapper {
    cursor: pointer;
    margin: 2em auto;
    float: none;
    background: $color-7;
    box-shadow: inset 0 0 30px darken($color-7, 5%), 0 0 5px transparentize(darken($color-7, 80%), .5);
    padding: 2em 0;
    & > .heading {
      font-weight: 500;
    }
    .icon-box {
      .icons {
        width: 50%;
        margin: 1em auto 3em;
      }
    }
    .icon-overlay {
      @include transition(all, .5s);
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-4;
      opacity: 0;
      &:hover {
        opacity: .9;
      }
      .heading {
        display: inherit;
        color: darken($color-7, 20%);
        padding: 35px 0;
        line-height: 1;
      }
    }
    &:nth-child(even) {
      background-color: $color-6;
      box-shadow: inset 0 0 30px darken($color-6, 5%), 0 0 5px transparentize(darken($color-7, 80%), .5);
      .heading {
        color: $color-1;
      }
      .icon-overlay {
        .heading {
          color: $color-7;
        }

      }

    }
    @media #{$brk-tablets} {
      width: 30%;
      margin-left: 2.5%;
      float: left;

    }
    @media (orientation: landscape) {
      width: 30%;
      margin-left: 2.5%;
    }
    @media #{$brk-narrow} {
      width: 32%;
      margin-left: 1%;
    }
  }
}

#treehouse {
  padding: 3em 0;
  color: $color-4;
  position: relative;
  background: linear-gradient(transparentize($color-4, .1), transparentize($color-4, .1)),
              $color-4 url('../data/images/treehouse-bg.jpg') no-repeat center;
  background-size: cover;
  .container {
    .heading {
      padding: 0;
      color: darken($color-7, 50%);
      text-shadow: none;
    }
    .pagination {
      display: block;
      margin: 0 auto;
      text-align: center;
      & > li {
        display: inline-block;

      }
    }
  }
}
