

#treehouse {
  padding: 3em 0;
  color: $color-4;
  position: relative;
  background: linear-gradient(transparentize($color-4, .1), transparentize($color-4, .1)),
              $color-4 url('../data/images/treehouse-bg.jpg') no-repeat center;
  background-size: cover;
  .heading {
    text-align: center;
    color: $color-5;
  }
  .container {
    .heading {
      padding: 0;
      color: darken($color-7, 50%);
      text-shadow: none;
    }
    .pagination {
      display: block;
      margin: 0 auto;
      text-align: center;
      & > li {
        display: inline-block;

      }
    }
  }
}
