footer {
  position: relative;
  width: 100%;
  background-image: radial-gradient(darken($color-3, 5%), darken($color-3, 10%));
  border-top: 15px solid darken($color-3, 15%);
  .foo-nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    margin: 2em auto 0;
    padding: 1em 0 2em;
    text-align: center;
    li {
      display: inline-block;
      flex: 1;
      flex-basis: 50%;
      a {
        @include transition(all, .3s);
        display: block;
        padding: 1em 2em;
        font-family: $stack-play;
        font-size: 14px;
        font-weight: bold;

        color: $color-4;
        &:hover {
          color: darken($color-7, 20%);
        }
        @media #{$brk-tablets} {
          padding: .5em 1em;
          text-align: left;
        }
      }
      @media #{$brk-tablets} {
        flex: 0;
        flex-basis: 10%;
      }
    }
    li.social {
      margin-top: 2em;
      flex-basis: 100%;
      .social-list {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {

          padding: 0;
          .social-icons {
              @include transition(all, .3s);
              fill: $color-4;
              width: 35px;
              height: 35px;
              &:hover {
                fill: darken($color-7, 20%);
              }
              @media #{$brk-tablets} {
                width: 35px;
                height: 35px;
              }
          }

        }
        @media #{$brk-narrow} {
          margin-top: 0;
        }
      }
      @media #{$brk-tablets} {
        flex: 0;
        flex-basis: 20%;
        margin-left: auto;
        margin-top: 0;
      }
    }
  }
}
