footer {
  position: relative;
  width: 100%;
  background-image: linear-gradient(180deg, darken($boston-blue, 30%), darken($boston-blue, 50%));
  box-shadow: 0px -2px 0 0 transparentize($black, .4);
  .foo-nav {
    position: relative;
    // width: 100%;
    margin: 2em auto 0;
    padding: 1em 0 1em;
    text-align: center;
    li {
      display: inline-block;
      a {
        @include transition(all, .3s);
        display: block;
        padding: 1em .5em;
        font-family: 'Slabo 27px';
        font-size: 1.25em;
        // font-weight: bold;

        color: $color-4;
        &:hover {
          color: darken($color-7, 20%);
        }
        @media #{$brk-tablets} {
          padding: .5em 1em;
          text-align: left;
        }
      }
    }


    @media (min-width: 769px) {
        text-align: left;
        display: inline-block;
    }
  }
  .social-list {

      padding: 1em 0 2em;
      display: block;
      float: right;
      li {
          display: inline-block;
      }
    a {

      padding: .5em;
      .social-icons {
          @include transition(all, .3s);
          display: inline-block;
          fill: $color-4;
          width: 35px;
          height: 35px;
          &:hover {
            fill: darken($color-7, 20%);
          }
          @media #{$brk-tablets} {
            width: 35px;
            height: 35px;
          }
      }

   }

  @media (min-width: 769px) {
      display: inline-block;
      margin: 2em auto 0;
  }
}
}
