/* Header starts here */

.carousel {
  position: relative;
  top: -50px;
  .carousel-indicators {
    left: 15%;
    width: 70%;
    margin-left: 0;
  }
  .carousel-inner {
    .item {
      top: -50px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $black;
        opacity: .8;
      }
      width: 100%;
      height: 100vh;
      .carousel-caption {
        bottom: 20%;
        h3 {
          color: $color-6;
          font-size: 3em;
          text-transform: uppercase;
        }
      }
    }
    .item-1 {
      background: url('../data/images/myself.jpg') no-repeat top left;
      background-size: cover;
    }
    .item-2 {
      background: url('../data/images/myself-1.jpg') no-repeat center;
      background-size: cover;
    }
    .item-3 {
      background: url('../data/images/sushi.jpg') no-repeat center;
      background-size: cover;
    }

  }
  .carousel-indicators {
    @media (orientation: landscape) {
      bottom: 60px;
    }
    bottom: 60px;
    li.active {
      transform: scale(1.1);
      transform-origin: center center;
      color: $color-5;
      border-radius: 0;
      border: none;
      background-color: $color-4;
    }
    li {
      font-size: 1em;
      color: $color-3;
      border-radius: 0;
      border: 1px solid transparentize($color-4, .5);
      width: 20px;
      height: 20px;
      background-color: transparent;
    }
  }
  .carousel-control {
    top: -50px;
    bottom: 50px;
    background-image: none;
    color: $color-6;
    .glyphicon-menu-left,
    .glyphicon-menu-right {

      top: 50%;
      margin-top: -10px;
      z-index: 5;
      display: inline-block;
    }
  }
}
