.navbar {
  @include transition(all, .5s);
  position: absolute;
  top: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: transparent;
  font-family: 'Play', Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 0;
  z-index: 9999;
  .container {
    @media #{$brk-narrow} {
      position: relative;

    }
  }
  .navbar-header {
    .navbar-brand {
      padding: 10px 10px;

      height: 40px;
      color: $color-4 !important;
      @media #{$brk-tablets} {
        display: block;
        float: none;
      }
      @media #{$brk-narrow} {
        float: left;
        padding-left: 30px;
      }
    }
    .navbar-toggle {
      margin: 3px;
      @media #{$brk-tablets} {
        display: none;
      }
      .icon-bar {
        background-color: $color-4;
      }
    }
    @media #{$brk-tablets} {
      text-align: center;
    }
    @media #{$brk-narrow} {
      text-align: center;
    }
  }
  #navbar {
    @media #{$brk-tablets} {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
      width: auto;
      border-top: 0;
      box-shadow: none;
      text-align: center;
    }
  }
  .nav {
    li {
      a {
        font-size: 1em;
        padding: 5px 10px;
        margin: 10px;
        border-radius: 10px;
        &:hover {
          background-color: transparent;
          @media #{$brk-narrow} {
            color: $color-5 !important;
          }
        }
        @media #{$brk-tablets} {
          color: $color-4 !important;
        }
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
      @media #{$brk-tablets} {
        float: none;
        display: inline-block;
      }
    }
    li.active a {
      color: darken($color-7, 10%) !important;
      @media #{$brk-tablets} {
        color: darken($color-4,10%) !important;
        background-color: $color-5;
        span {
          display: none;
        }
      }
    }
    @media #{$brk-tablets} {
      margin: 0;
    }
  }
  @media #{$brk-narrow} {
    padding-top: 25px;
  }
}

.sticky {
  @include transition(all, .5s);
  background-color: $color-7;
  box-shadow: 0 0 1px darken($color-5, 10%);
  position: fixed;
  top: 0;
  min-height: 0;
  max-height: 40px;
  width: 100%;
  padding-top: 0;
  .container {
    top: 0;
    .navbar-header {
      .navbar-toggle {
        .icon-bar {
          background-color: $color-4;
        }
      }
      @media #{$brk-tablets} {
        display: block;
        float: left;
      }
    }
    #navbar {
      .nav {
        li.active {
          a {
            @media #{$brk-tablets} {
              color: $color-4 !important;
              background-color: $color-5;
            }
          }
        }
        li {
          a {
            @media #{$brk-tablets} {
              margin: 5px;
              color: $color-4 !important;
              &:hover {
                color: $color-3 !important;
                @media #{$brk-narrow} {
                  color: $color-5 !important;
                }
              }
            }
          }
        }
        @media #{$brk-tablets} {
          float: right;
        }
      }
    }
  }
}

#navbar {
  background-color: $color-5;
  @media #{$brk-tablets} {
    background-color: transparent;
  }
}

.nav > li > a {
  color: $color-1 !important;

  @media #{$brk-narrow} {
    color: $color-3 !important;
    &:hover {
      color: $color-3 !important;
      background-color: $color-4;
    }
  }
}
