// .table-striped {
//   width: 100%;
//
//   thead {
//     .th-icon {
//       width: 10%;
//       color: darken($color-7, 20%);
//     }
//     .th-badge-title {
//       width: 40%;
//       color: darken($color-7, 20%);
//     }
//     .th-date {
//       width: 10%;
//       color: darken($color-7, 20%);
//     }
//     .th-course-title {
//       width: 40%;
//       color: darken($color-7, 20%);
//     }
//   }
//   & > tbody > tr:nth-of-type(odd) {
//     cursor: pointer;
//     background-color: transparent;
//     color: darken($color-3, 30%);
//     a {
//       color: darken($color-3, 30%);
//     }
//     &:hover {
//       color: $color-2;
//       a {
//         color: $color-2;
//       }
//     }
//   }
//   & > tbody > tr:nth-of-type(even) {
//     cursor: pointer;
//     background-color: transparent;
//     color: darken($color-3, 30%);
//     a {
//       color: darken($color-3, 30%);
//
//     }
//     &:hover {
//       color: $color-2;
//       a {
//         color: $color-2;
//       }
//     }
//   }
// }



.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $color-6;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid darken($color-7, 25%);
  color: darken($color-3, 25%);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.pagination > li > a, .pagination > li > span {
  border: none;
  color: $color-3;
  padding: 10px 20px;
  cursor: pointer;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  border: none;
  background-color: #e2e2e2;
  color: #eee;
  opacity: .5;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  border: none;
  color: $color-3;
  background-color: darken($color-1, 3%);
}
