

#treehouse {
  padding: 3em 0;
  color: $color-4;
  position: relative;
  background-color: $color-1;
  .heading {
    font-family: $stack-play;
    text-align: center;
    color: $color-5;
  }
  .container {
    .table {
      tbody {
        font-family: $stack-play;
        color: $color-5;
        tr {
          background-color: transparent;
          height: auto;
          padding: 3em 15px;
          height: 300px;
          cursor: pointer;
          td {
            border: none;
            display: block;
            text-align: center;
            .badge-icon {
              max-width: 64px;
              margin: 0 auto;
            }
            &:nth-child(2) {
              @media #{$brk-narrow} {
                  font-size: 22px;
              }

            }
          }

        }
        @media #{$brk-narrow} {
          padding-bottom: 4em;
          padding-top: 4em;
        }
      }

    }
    .pagination {
      display: block;
      margin: 0 auto;
      text-align: center;
      li {
        display: inline-block;
        a {
          padding: 20px 25px;
          border: none;
          border-radius: 20px;
          color: $color-5;
          &:focus {
            background-color: transparent;
          }
          &:hover {
            background-color: $color-6;
            color: $color-1;
          }
        }
        &.disabled {
          a {
            opacity: .2;
          }
        }
        &.active {
          a {
            background-color: $color-7;
            color: $color-4;
          }
        }
      }
    }
  }
}
