/*
 The animations styles. In order animations to run, elements must be in viewport. It requires visibility.js in order to run work
*/


.animate {
  position: relative;
  opacity: 0;
}


.animation-in-bottom0 {
  animation: in-bottom .5s ease .2s 1 normal forwards running;
}
@keyframes in-bottom {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}


.animation-in-bottom1 {
  animation: in-bottom-1 .5s ease .4s 1 normal forwards running;
}
@keyframes in-bottom-1 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}


.animation-in-bottom2 {
  animation: in-bottom-1-5 .5s ease .6s 1 normal forwards running;
}
@keyframes in-bottom-1-5 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}


.animation-in-bottom3 {
  animation: in-bottom-2 .5s ease 1s 1 normal forwards running;
}
@keyframes in-bottom-2 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
