#menu {
    ~ #navbar  .nav {
                height: 0;
                // display: none;
    }
    &:checked ~ #navbar .nav {
            height: 220px;
            // display: block;
    }

}

.animate-counter {
    -webkit-animation-name: counter;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-name: counter;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@-webkit-keyframes counter {
  0% {
    transform: scale(.2);
  }
  85% {
    transform: scale(1.3);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes counter {
    0% {
      transform: scale(.5);
    }
    70% {
      transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}



/*
 The animations styles. In order animations to run, elements must be in viewport. It requires visibility.js in order to run work
*/

/*
 * Animation for incoming elements from bottom
 */


.animate {
  position: relative;
}

@-webkit-keyframes in-bottom {
  0% {
    opacity: 0;
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes in-bottom {
  0% {
    opacity: 0;
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}


.animation-in-bottom0 {
  -webkit-animation-name: in-bottom;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: .2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-name: in-bottom;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}



@-webkit-keyframes in-bottom-1 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes in-bottom-1 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.animation-in-bottom1 {
  -webkit-animation-name: in-bottom-1;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: .4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-name: in-bottom-1;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: .4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


@-webkit-keyframes in-bottom-1-5 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes in-bottom-1-5 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.animation-in-bottom2 {
  -webkit-animation-name: in-bottom-1-5;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: .6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-name: in-bottom-1-5;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: .6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}



@-webkit-keyframes in-bottom-2 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes in-bottom-2 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.animation-in-bottom3 {
  -webkit-animation-name: in-bottom-2;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-name: in-bottom-2;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: .8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}





/*
 * Animations for timeline elements
 */


// Animation for circle

@-webkit-keyframes circle-scale-in {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes circle-scale-in {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate-circle {
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.circle-scale-in {
  -webkit-animation-name: circle-scale-in;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-name: circle-scale-in;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}



// Animation for line1


@-webkit-keyframes line1-drawing {
  from {
    width: 0;
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
  to {
    width: 100px;
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
}
@keyframes line1-drawing {
  from {
    width: 0;
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
  to {
    width: 100px;
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
}
.line1-drawing {
  -webkit-animation-name: line1-drawing;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: .6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-name: line1-drawing;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-delay: .6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


// Animation for line2

@-webkit-keyframes line2-drawing-sm {
  from {
    width: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  to {
    width: 295px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
@keyframes line2-drawing-sm {
  from {
    width: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  to {
    width: 295px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
@-webkit-keyframes line2-drawing-md {
  from {
    width: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  to {
    width: 432px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
@keyframes line2-drawing-md {
  from {
    width: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  to {
    width: 432px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
.line2-drawing {
  top: 78px;
  @media #{$brk-narrow} {
    -webkit-animation-name: line2-drawing-sm;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: .9s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-name: line2-drawing-sm;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-delay: .9s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  @media #{$brk-wide} {
    -webkit-animation-name: line2-drawing-md;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: .9s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-name: line2-drawing-md;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-delay: .9s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
}



@-webkit-keyframes line3-drawing {
  from {
    width: 0;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
  to {
    width: 100px;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
}
@keyframes line3-drawing {
  from {
    width: 0;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
  to {
    width: 100px;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }
}
.line3-drawing {
  -webkit-animation-name: line3-drawing;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-name: line3-drawing;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


// Animation for line2
@-webkit-keyframes line4-drawing-sm {
  from {
    width: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  to {
    width: 295px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
@keyframes line4-drawing-sm {
  from {
    width: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  to {
    width: 295px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
@-webkit-keyframes line4-drawing-md {
  from {
    width: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  to {
    width: 432px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
@keyframes line4-drawing-md {
  from {
    width: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  to {
    width: 432px;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
}
.line4-drawing {
  @media #{$brk-narrow} {
    -webkit-animation-name: line4-drawing-sm;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-name: line4-drawing-sm;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  @media #{$brk-wide} {
    -webkit-animation-name: line4-drawing-md;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-name: line4-drawing-md;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }


}


@-webkit-keyframes in-left {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes in-left {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.animation-in-left {
  -webkit-animation-name: in-left;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-name: in-left;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
