/*
 The animations styles. In order animations to run, elements must be in viewport. It requires visibility.js in order to run work
*/


/*
 * Animation for incoming elements from bottom
 */

.animate {
  position: relative;
  opacity: 0;
}

.animation-in-bottom0 {
  animation: in-bottom .5s ease .2s 1 normal forwards running;
}
@keyframes in-bottom {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.animation-in-bottom1 {
  animation: in-bottom-1 .5s ease .4s 1 normal forwards running;
}
@keyframes in-bottom-1 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.animation-in-bottom2 {
  animation: in-bottom-1-5 .5s ease .6s 1 normal forwards running;
}
@keyframes in-bottom-1-5 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.animation-in-bottom3 {
  animation: in-bottom-2 .5s ease .8s 1 normal forwards running;
}
@keyframes in-bottom-2 {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}




/*
 * Animations for timeline elements
 */


// Animation for circle
.animate-circle {
 transform-origin: center center;
}
.circle-scale-in {
 animation: circle-scale-in .3s ease .3s 1 normal forwards running;
}
@keyframes circle-scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


// Animation for line1
.line1-drawing {
  animation: line1-drawing .3s ease .6s 1 normal forwards running;
}
@keyframes line1-drawing {
  from {
    width: 0;
    transform-origin: top right;
  }
  to {
    width: 100px;
    transform-origin: top right;
  }
}

// Animation for line2
.line2-drawing {
  top: 78px;
  @media #{$brk-narrow} {
    animation: line2-drawing-sm .3s ease .9s 1 normal forwards running;
  }
  @media #{$brk-wide} {
    animation: line2-drawing-md .3s ease .9s 1 normal forwards running;
  }
}
@keyframes line2-drawing-sm {
  from {
    width: 0;
    transform-origin: center right;
  }
  to {
    width: 295px;
    transform-origin: center right;
  }
}

@keyframes line2-drawing-md {
  from {
    width: 0;
    transform-origin: center right;
  }
  to {
    width: 432px;
    transform-origin: center right;
  }
}

.line3-drawing {
  animation: line3-drawing .3s ease 1s 1 normal forwards running;
}
@keyframes line3-drawing {
  from {
    width: 0;
    transform-origin: bottom right;
  }
  to {
    width: 100px;
    transform-origin: bottom right;
  }
}

// Animation for line2
.line4-drawing {
  @media #{$brk-narrow} {
    animation: line4-drawing-sm .3s ease 1.3s 1 normal forwards running;
  }
  @media #{$brk-wide} {
    animation: line4-drawing-md .3s ease 1.3s 1 normal forwards running;
  }


}
@keyframes line4-drawing-sm {
  from {
    width: 0;
    transform-origin: center right;
  }
  to {
    width: 295px;
    transform-origin: center right;
  }
}
@keyframes line4-drawing-md {
  from {
    width: 0;
    transform-origin: center right;
  }
  to {
    width: 432px;
    transform-origin: center right;
  }
}


.animation-in-left {
  animation: in-left 1.3s ease .3s 1 normal forwards running;
}
@keyframes in-left {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
