.navbar-toggle {
  .icon-bar {
    background-color: $color-4;
  }
}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-7;
  color: $color-4;
  transform: scale(1.3, 1.3);
}

.pagination > li > a, .pagination > li > span {
  border: none;
  color: $color-5;
}
