/* Sections Heading style */
.heading-panel {
    margin: 3em auto;
}

.heading {
    font-family: 'Source Serif pro', serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 7px transparentize($black, .8);
    &.black {
        color: $black;
    }
    &.no-shadow {
        text-shadow: none;
    }
}

.sub-heading {
  font-family: 'Slabo 27px', sans-serif;
  color: $color-5;
  text-align: center;
}

div.underline {
  margin: 2rem auto 1rem;
  display: block;
  height: 5px;
  width: 50px;
  background-color: $color-3;
  &.blue {
      background-color: $boston-blue;
  }
  &.white {
      background-color: $white;
  }
  & + .heading {
      margin-top: .5rem;
  }
}

.paragraph {
    color: #333;
    font-size: 1.25em;
    font-family: 'Slabo 27px';
    text-align: center;
    margin: 1em auto;
}

.copyright {
    font-size: 11px;
    text-align: center;
}


span.next-id {
  top: 3rem;
  display: block;
  font-size: 3em;
}



.HTML {
  display: inline-block;
  padding: 5px 10px;
  background-color: $color-html;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
}
.CSS, .Sass, .Bootstrap {
  display: inline-block;
  padding: 5px 10px;
  background-color: $color-css;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
}

.JavaScript, .jQuery {
  display: inline-block;
  padding: 5px 10px;
  background-color: $color-js;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
}

.html-text {
  font-weight: bold;
  color: $color-html;
}

.css-text {
  font-weight: bold;
  color: $color-css;
}

.js-text {
  font-weight: bold;
  color: $color-js;
}

.dev-tools-text {
  font-weight: bold;
  color: $color-dev-tools;
}

.wow-text {
  display: inline-block;
  padding: 2px;
  line-height: 1.8;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: $color-4;
  text-align: center;
  background-color: darken($color-7, 25%);
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0 $color-5, 1px 1px 1px 1px $color-5;
}

.grade {
  color: $color-5;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1.2em;
}


.circle {
  display: block;
  position: relative;
  height: 22px;
  width: 22px;
  border: 3px solid darken($color-7, 20%);
  border-radius: 50%;
  left: calc(50% - 10px);
  margin-bottom: -6px;
  transform: scale(0.01);
}

.line1 {
  display: block;
  position: relative;
  left: calc(50% - 9px);
  top: 1px;
  height: 3px;
  width: 0;
  background-color: darken($color-7, 20%);
  transform:translate(-100%, 0) rotate(-55deg);
}

.line2 {
  display: block;
  position: relative;
  top: 78px;
  left: calc(50% - 65px);
  height: 3px;
  width: 0;
  background-color: darken($color-7, 20%);
  transform:translate(-100%, 0);
}

.line3 {
  display: block;
  position: relative;

  left: calc(50% + 10px);
  bottom: 7px;
  height: 3px;
  width: 0px;
  background-color: darken($color-7, 20%);
  transform:translate(-100%, 0) rotate(-125deg);
}

.line4 {
  display: block;
  position: relative;
  top: 74px;
  left: calc(50% + 65px);
  height: 3px;
  width: 0;
  background-color: darken($color-7, 20%);
  transform:translate(-100%, 0) rotate(180deg);
}
