/* Base Styles -------------------- */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  @include text(1.25em, 1.5, $color: $white);
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}

main {
  max-width: 1440px;
}

.container-fluid {
  margin: 0;
  width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

/* Pseudo-classes ------------------ */

a {
  color: $color-3;
  &:link {
    // color: $color-link-default;
    text-decoration: none;
  }
//   &:visited {
//     color: $color-link-default;
//   }
//   &:hover {
//     color: rgba($color-link-default, .5);
//   }
}
