// Descriptive color variables

$white          : #fff;
$black          : #000;
$ds             : #C6A556;
$gunpipe        : #F1EFE6;
$into-the-light : #A9C1D9;
$where-you-stay : #C4DEDF;
$darm-stadium   : #84B5C2;

// Functional color variables
$color-1    : $white;
$color-2    : $black;
$color-3    : $ds;
$color-4    : $gunpipe;
$color-5    : $into-the-light;
$color-6    : $where-you-stay;
$color-7    : $darm-stadium;

$color-text-white   : $white;
$color-text-base    : $black;


$color-link-default : $black;
$color-link-visited : $black;

// Font stacks

$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-open-sans  : 'Open Sans', $stack-sans-serif;

// Font variables

$semibold	: 600;
$lighter	: 400;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';
$file	   : 'opensans';


// Media queries breakpoints
$brk-tablets     : '(min-width: 480px)';
$brk-narrow      : '(min-width: 768px)';
$brk-wide     	 : '(min-width: 1024px)';
$brk-full-width  : '(min-width: 1200px)';
