header#portfolio {
  @extend %typewriter;
  position: relative;
  display: flex;
  justify-content: center;
  background:
    /* top, transparent red */
    linear-gradient(
      darken(transparentize($color-2, .2), 20%),
      darken(transparentize($color-2, .2), 20%)
    ),
    /* your image */
    url('../data/images/wood.jpg') no-repeat center;
    background-attachment: fixed;
  height: 50vh;
  width: 100%;
  .typewriter {
    font-size: 1.3rem;
  }
  @media only (orientation: landscape) {
    .typewriter {
      @media #{$brk-narrow} {
        font-size: 4rem;
      }
    }
  }
}
