#approaches {
  background:
    /* top, transparent red */
    linear-gradient(
      darken(transparentize($color-7, .05), 20%),
      darken(transparentize($color-7, .05), 20%)
    ),
    /* your image */
    url('../data/images/creative.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding-top: 4em;
  padding-bottom: 4em;

  .container {
    max-width: 1024px;

  }
  .approaches-flex {
    text-align: center;
    display: flex;
    flex-direction: column;
    @media #{$brk-narrow} {
      flex-direction: row;
      flex: 1;
    }
  }
  .heading {
    font-family: $stack-play;
  }
  .sub-heading {
    color: $color-4;
  }
  .icon-wrapper {
    @extend %user-select-no;
    cursor: default;
    font-family: $stack-montserrat;
    padding: 3em;
    .heading {
      font-size: 20px;
      font-weight: 300;
    }
    .underline {
      height: 3px;
      background-color: $color-4;
      width: 30px;
    }
    .icon-box {

      .icons {

        width: 50%;
        max-width: 128px;
        margin: 1em auto;
      }
    }
    @media #{$brk-narrow} {
      flex-basis: 33.333%;
    }
  }
}
