#london-map {
    background: linear-gradient(0deg, transparentize($boston-blue, .2), transparentize($boston-blue, .2)), url(../data/images/london-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:  fixed;
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: 0 1px 1px 0 transparentize($black, .6);
    svg {
        max-height: 600px;
    }

}
