/* Header starts here */
header#index-header {
    width: 100%;
    height: 100vh;
    background:
        /* top, transparent red */
        linear-gradient(
            transparentize($color-5, .3),
            transparentize($color-5, .3)
        ),
            url('../data/images/home-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .img-logo {
        transition: all .3s ease-in-out;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 40%;
        width: auto;
        @media #{$brk-narrow} {

        }
    }
}
